<form [formGroup]="instituicaoForm">

  <div class="container">
    <h5>{{title}}</h5>

    <div class="row">
      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="sCNPJ" type="text" class="validate" kzMask="99.999.999/9999-99" formControlName="sCNPJ" required>
        <label for="sCNPJ">Cnpj</label>
      </div>

      <div class="input-field col l9 m6 s12">
        <input placeholder="" id="sProponente" type="text" formControlName="sProponente" class="validate" maxlength="100" required>
        <label for="sProponente">Proponente</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col l4 m6 s12">
        <input placeholder="" id="sEndereco" type="text" formControlName="sEndereco" class="validate" maxlength="100" required>
        <label for="sEndereco">Endereço</label>
      </div>
      <div class="input-field col l2 m6 s12">
        <input placeholder="" id="sCep" type="text" formControlName="sCep" class="validate" kzMask="99999-999" required>
        <label for="sCep">Cep</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="sTelefone" type="tel" formControlName="sTelefone" class="validate" kzMask="(99) 9999-9999" required>
        <label for="sTelefone">Telefone</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="sFax" type="tel" formControlName="sFax" kzMask="(99) 9999-9999">
        <label for="sFax">Fax</label>
      </div>
    </div>


    <div class="row">
        <select class="col l4 m4 s12" id="idEstado" formControlName="idEstado" (change)="getCidadeByIdEstado($event.target.value,true)"
          materialize="material_select">
          <option value="0" disabled selected>Selecione o estado</option>
          <option *ngFor="let estado of estados | async" [value]="estado.iCodEstado">{{estado.sNomeEstado}}</option>
        </select>
  
        <select class="col l4 m4 s12" id="idCidade" formControlName="idCidade" required materialize="material_select" [materializeSelectOptions]="cidades">
          <option disabled selected value="">Selecione a cidade</option>
          <option *ngFor="let cidade of cidades" [value]="cidade.iCodCidade">{{cidade.sNomeCidade}}</option>
        </select>
  
        <select class="col l4 m4 s12" id="iRegime" formControlName="iRegime" required materialize="material_select">
          <option disabled selected value="">Selecione o regime</option>
          <option *ngFor="let regime of regimes | async" [value]="regime.id"> {{regime.nome}}</option>
        </select>
      </div>
  
      <div class="row">
        <select class="col l6 m6 s12" id="iEsfera" formControlName="iEsfera" required materialize="material_select">
          <option disabled selected value="">Selecione a esfera</option>
          <option *ngFor="let esfera of esferas | async" [value]="esfera.id">{{esfera.nome}}</option>
        </select>
  
        <select class="col l6 m6 s12" id="iNatureza" formControlName="iNatureza" required materialize="material_select">
          <option disabled selected value="">Selecione a natureza da instituição</option>
          <option *ngFor="let natureza of naturezas | async" [value]="natureza.id"> {{natureza.nome}}</option>
        </select>
      </div>

    <div class="row">
      <div class="input-field col l6 m6 s12">
        <input placeholder="" id="sEmail" type="email" formControlName="sEmail" class="validate" maxlength="100" required>
        <label for="sEmail">Email</label>
      </div>
      <div class="input-field col l6 m6 s12">
        <input placeholder="" id="sHomePage" type="url" formControlName="sHomePage" maxlength="100">
        <label for="sHomePage">HomePage</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col l6 m6 s12">
        <input placeholder="" id="sRepresentante" type="text" formControlName="sRepresentante" class="validate" maxlength="100" required>
        <label for="sRepresentante">Representante</label>
      </div>
      <div class="input-field col l2 m6 s12">
        <input placeholder="" id="sCpfRepresentante" type="text" formControlName="sCpfRepresentante" class="validate" kzMask="999.999.999-99" required>
        <label for="sCpfRepresentante">Cpf do representante</label>
      </div>

      <div class="input-field col l2 m6 s12">
        <input placeholder="" id="sRG" type="text" formControlName="sRG" class="validate" maxlength="20" required>
        <label for="sRG">RG do representante</label>
      </div>

      <div class="input-field col l2 m6 s12">
        <input placeholder="" id="sOrgaoExpedidor" type="text" formControlName="sOrgaoExpedidor" maxlength="10" class="validate" required>
        <label for="sOrgaoExpedidor">Orgão expedidor</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col l6 m6 s12">
        <input placeholder="" id="sCargo" type="text" formControlName="sCargo" maxlength="100" class="validate" required>
        <label for="sCargo">Cargo</label>
      </div>
      <div class="input-field col l6 m6 s12">
        <input placeholder="" id="sFuncao" type="text" formControlName="sFuncao" maxlength="100" class="validate" required>
        <label for="sFuncao">Função</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col l4 m6 s12">
        <input placeholder="" id="sEnderecoRepresentante" type="text" formControlName="sEnderecoRepresentante" maxlength="100" class="validate"
          required>
        <label for="sEnderecoRepresentante">Endereço do representante</label>
      </div>

      <div class="input-field col l2 m6 s12">
        <input placeholder="" id="sCepRepresentante" type="text" formControlName="sCepRepresentante" class="validate" kzMask="99999-999" required>
        <label for="sCepRepresentante">Cep do representante</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="sTelefoneRepresentante" type="tel" formControlName="sTelefoneRepresentante" kzMask="(99) 9999-9999">
        <label for="sTelefoneRepresentante">Telefone do representante</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="sCelularRepresentante" type="tel" formControlName="sCelularRepresentante" class="validate" kzMask="(99) 9999-99999">
        <label for="sCelularRepresentante">Celular do representante</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col l4 m6 s12">
        <input placeholder="" id="sCoordenador" type="text" formControlName="sCoordenador" maxlength="100" class="validate" required>
        <label for="sCoordenador">Coordenador</label>
      </div>

      <div class="input-field col l2 m6 s12">
        <input placeholder="" id="sCPFCoordenador" type="text" formControlName="sCPFCoordenador" class="validate" kzMask="999.999.999-99" required>
        <label for="sCPFCoordenador">Cpf do coordenador</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="sTelefoneCoordenador" type="tel" formControlName="sTelefoneCoordenador" class="validate" kzMask="(99) 9999-9999">
        <label for="sTelefoneCoordenador">Telefone do coordenador</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="sCelularCoordenador" type="tel" formControlName="sCelularCoordenador" class="validate" kzMask="(99) 9999-99999">
        <label for="sCelularCoordenador">Celular do coordenador</label>
      </div>
    </div>

    <div *ngIf="id !=0">
      <div class="row">
        <h5 class="col l12 m12 s12">Arquivos Enviados</h5>

        <table>
          <thead>
            <tr>
              <th style="width: 90%"></th>
              <th style="width: 10%"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let emp of arquivoInstituicao">
              <th>{{emp.sNome}}</th>
              <th style="text-align: right;">
                <a href="javascript:void(0);" (click)="download(emp.id,emp.sNome)" title="Download do arquivo">
                  <i class="material-icons">cloud_download</i>
                </a>
                <a href="javascript:void(0);" (click)="delete(emp.id)" *ngIf="ativoprazo" title="Excluir arquivo">
                  <i class="material-icons">delete</i>
                </a>
              </th>
            </tr>

            <tr *ngIf="arquivoInstituicao == null">
              <td colspan="2">Não existe arquivo cadastrado!</td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="row">
        <div class="file-field input-field col l9 m6 s12">
          <div class="btn" style="margin-top: 15px;height: 36px;">
            <span>SELECIONAR ARQUIVO</span>
            <input #fileInput type="file" />
          </div>

          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Tamanho máx. por arquivo: 5 MB" #textInput />
          </div>
        </div>

        <div class="col l3 m6 s12 addFile">
          <a class="btn" (click)="addFile()" *ngIf="ativoprazo">ENVIAR</a>
        </div>

      </div>
    </div>

    <div class="row" *ngIf="ativo">
      <h5 class="col l12 m12 s12">Alterar Senha</h5>
    </div>

    <div class="row">
      <div class="input-field col l6 m6 s12">
        <input id="sSenha" type="password" formControlName="sSenha" class="validate">
        <label for="sSenha" *ngIf="!ativo">Senha</label>
        <label for="sSenha" *ngIf="ativo">Nova Senha</label>
      </div>
      <div class="input-field col l6 m6 s12">
        <input id="sConfirmaSenha" type="password" formControlName="sConfirmaSenha" class="validate">
        <label for="sConfirmaSenha">Confirmar Nova Senha</label>
      </div>
    </div>

    <div class="row">
      <p class="col l12 m12 s12">A senha deve conter no minimo 8 caracteres e ser composta de letras (pelo menos uma maiúscula e uma minúscula) e números</p>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <a class="btn" (click)="save()" [attr.disabled]="!instituicaoForm.valid?'':null" *ngIf="ativoprazo">Salvar</a>
        <a class="btn" *ngIf="!ativo" (click)="back()">Voltar</a>
        <a class="btn" *ngIf="ativo" (click)="cancel()">Cancelar</a>
      </div>
    </div>
  </div>
</form>