.action-checkbox{
    margin-left: 10px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

.addFile{
    margin-top: 25px;
    text-align: right;
}

td, th {
    padding: 1px 5px;
    font-weight: normal;
}