<div class="container">

  <form [formGroup]="projetoForm">
    <h5>{{title}}</h5>
    <!-- {{diagnostic}} -->

    <div class="row">
      <div class="input-field col l12 m12 s12">
        <input placeholder="" id="sTitulo" type="text" formControlName="sTitulo" class="validate" maxlength="300" required>
        <label for="sTitulo">Titulo</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col l12 m12 s12">
        <label for="sArea">Área Principal do Projeto</label>
      </div>
    </div>

    <div class="row">

    </div>

    <div class="action-checkbox" *ngFor="let area of areas">
      <input type="checkbox" [checked]="(aArea && (-1 !== aArea.indexOf(area.id)) ? 'checked' : '')" (change)="sArea($event.target.value,true)"
        id="{{area.id}}" name="{{area.id}}" value="{{area.id}}" />
      <label for="{{area.id}}">
        {{area.nome}}
      </label>
    </div>


    <div class="row">

    </div>

    <div class="row">
      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="dDataInicio" type="date" formControlName="dDataInicio" required materialize="pickadate" [materializeParams]="[dateOptions]">
        <label for="dDataInicio">Data de inicio</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="dDataTermino" type="date" formControlName="dDataTermino" required materialize="pickadate" [materializeParams]="[dateOptions]">
        <label for="dDataTermino">Data de termino</label>
      </div>

      <div class="input-field col l3 m6 s12">
        <input placeholder="" id="mValor" type="text" formControlName="mValor" class="validate" kzMaskCurrency required maxlength="15">
        <label for="mValor">Valor</label>
      </div>

      <div *ngIf="valorContra" class="input-field col l3 m6 s12">
        <input placeholder="" id="mValorContraPartida" type="text" formControlName="mValorContraPartida" class="validate" required
          kzMaskCurrency maxlength="15">
        <label for="mValorContraPartida" class="active">Valor da contra partida</label>
      </div>
    </div>

    <div class="row">
      <select class="col l3 m6 s6" id="idCidade" formControlName="idCidade" required materialize="material_select">
        <option disabled selected value="">Selecione a cidade</option>
        <option *ngFor="let cidade of cidades" [value]="cidade.iCodCidade">{{cidade.sNomeCidade}}</option>
      </select>
    </div>

    <div class="row">
      <div class="input-field col l12 m12 s12">
        <textarea placeholder="" id="tResumo" formControlName="tResumo" class="materialize-textarea"></textarea>
        <label for="tResumo">Objeto</label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col l12 m12 s12">
        <label>ATENÇÃO!</label>
        <br>
        <br>
        <label>SALVE o Projeto uma primeira vez, para poder anexar os arquivos relacionados ao projeto exigidos no edital (em formato
          PDF, devidamente assinados e autenticados)</label>
        <br>
        <br>
        <label>LEMBRE-SE de ler atentamente a seção "INSTRUÇÕES PARA PREENCHIMENTO DOS FORMULÁRIOS DO PROJETO" do Anexo I do edital
          antes de produzir a documentação e anexá-la aqui. </label>
      </div>
    </div>

    <div *ngIf="id !=0">
      <div class="row">
        <h5 class="col l12 m12 s12">Arquivos Enviados</h5>

        <table>
          <thead>
            <tr>
              <th style="width: 90%"></th>
              <th style="width: 10%"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let emp of arquivoProjeto">
              <th>{{emp.sNome}}</th>
              <th style="text-align: right;">
                <a href="javascript:void(0);" (click)="download(emp.id,emp.sNome)" title="Download do arquivo">
                  <i class="material-icons">cloud_download</i>
                </a>
                <a href="javascript:void(0);" (click)="delete(emp.id)" *ngIf="ativoprazo && !admin" title="Excluir arquivo">
                  <i class="material-icons">delete</i>
                </a>
              </th>
            </tr>

            <tr *ngIf="arquivoProjeto == null">
              <td colspan="2">Não existe arquivo cadastrado!</td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="row">
        <div class="file-field input-field col l9 m6 s12">
          <div class="btn" style="margin-top: 15px;height: 36px;">
            <span>SELECIONAR ARQUIVO</span>
            <input #fileInput type="file" />
          </div>

          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Tamanho máx. por arquivo: 10 MB" #textInput />
          </div>
        </div>

        <div class="col l3 m6 s12 addFile">
          <a class="btn" (click)="addFile()" *ngIf="ativoprazo && !admin">ENVIAR</a>
        </div>

      </div>

    </div>


    <div class="row">
      <div class="input-field col s12">
        <a class="btn" (click)="save()" [attr.disabled]="!projetoForm.valid?'':null" *ngIf="ativoprazo && !admin">Salvar</a>
        <a class="btn" (click)="cancel()">Cancelar</a>
      </div>
    </div>
  </form>

</div>