  <nav class="ui-g">
      <a href="#" data-activates="menu-mobile" class="button-collapse">
          <i class="material-icons" *ngIf="isLoggedIn$ | async">menu</i>
      </a>

      <div class="ui-md-6">
          <div class="sistema">
            <div class="logo"><img id="j_idt10" src="assets/img/logo_completa.png" alt="">
            </div>
            <div class="texto">
              <div class="titulo">FDID-PROJETOS</div>
              <div id="detalhe" class="detalhe">SISTEMA DE CONTROLE</div>
            </div>
          </div>
        </div>

        <div class="ui-md-6">
            <ul id="nav-mobile" class="right hide-on-med-and-down"  *ngIf="isLoggedIn$ | async">
                <li>
                  <a (click)="instituicao()">Instituição</a>
                </li>
                <li>
                  <a (click)="projeto()">Projetos</a>
                </li>
                <li>
                  <a (click)="onLogout()">Sair</a>
                </li>
              </ul>
        </div>  
        
        <div class="nav-wrapper">
                <ul class="side-nav" id="menu-mobile">
                    <li>
                        <a (click)="instituicao()">Instituição</a>
                      </li>
                      <li>
                        <a (click)="projeto()">Projetos</a>
                      </li>
                      <li>
                        <a (click)="onLogout()">Sair</a>
                      </li>
                </ul>
            </div>
  </nav>

  <div class="ui-menu ui-menubar"></div>
