<div class="container">
    <div class="row">
        <div class="input-field col s12 center">
          <p class="left login-form-text"> O Conselho Estadual Gestor do Fundo de Defesa dos Direitos Difusos - CEG/FDID torna público para conhecimento de todos
            os interessados que está recebendo inscrições para seleção de projetos.. Período de Inscrição: 16 de Junho de 2017
            a 30 de Junho de 2017. Quem pode se inscrever: Entidades Civís, Governamentais e cidadão em favorecimento de entidade
            governamental ou não-governamental. Os projetos poderão ser protocolados no Setor de Protocolo da PGJ( Rua Assunção,1100
            - José Bonifácio) ou enviados pelo site do MP. Instruções para inscrição on-line.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 center">
          <a target="_self" href="assets/doc/EDITAL_01_2018_FDID_OSC.doc" download="EDITAL_01_2018_FDID_OSC.doc">Edital nº 01/2018 – Organizações da Sociedade Civil</a> <br>
          <a target="_self" href="assets/doc/EDITAL_02_2018_FDID_ENTIDADES_PUBLICAS.doc" download="EDITAL_02_2018_FDID_ENTIDADES_PUBLICAS.doc">Edital nº 02/2018 – Órgãos ou Entidades Públicas</a> <br>
          <a target="_self" href="assets/doc/RESOLUCAO_FDID_51_2018_VALORES.doc" download="RESOLUCAO_FDID_51_2018_VALORES.doc">Resolução nº 49/2017 – Tabela de hora atividade SEPLAG</a> <br>
          <a target="_self" href="assets/doc/Resolucao-n49.doc" download="Resolucao-n49.doc">Resolução nº 51/2018 – Valor máximo e contrapartida</a>
        </div>
      </div>
</div>

