<div class="container">
  <div class="row">
    <div class="input-field col s12 center">
      <p class="left login-form-text"> Prezado interessado,
    </div>
    <div class="input-field col s12 left">
      <p class="left login-form-text">este site é destinado à inscrição de projetos para participarem de seleção para serem custeados com recursos do Fundo
        de Defesa dos Direitos Difusos do Estado do Ceará - FDID. Para submeter um projeto, a instituição interessada, independentemente
        de já ter participado de seleções em anos anteriores, deve primeiro cadastrar-se, clicando no link "Registrar agora!".
        Após o cadastro da instituição, a mesma deve acessar o menu "INSTITUIÇÃO" e adicionar, junto aos seus dados cadastrais,
        os arquivos correspondentes aos documentos comprobatórios exigidos em edital. Recomenda-se que somente após essa
        etapa os projetos comecem a ser cadastrados. Para cadastrar um projeto, acesse o menu "PROJETOS" e clique no link
        "Novo projeto". Certifique-se de ler atentamente o respectivo edital da modalidade que se aplica à sua instituição.
      </p>
      <b>Após o cadastro da instituição, a mesma deve acessar o menu "INSTITUIÇÃO" e adicionar, junto aos seus dados cadastrais,
        os arquivos correspondentes aos documentos comprobatórios exigidos em edital.</b>
      <p>Você irá encontrá-lo num dos links abaixo:</p>
    </div>

    <div class="input-field col s12 left">
      <a target="_self" href="assets/doc/ERRATA001.pdf" download="ERRATA001.pdf">ERRATA 001 (Referente ao Edital nº 01/2018/CEG/FDID)</a>
      <br>
      <a target="_self" href="assets/doc/ERRATA002.pdf" download="ERRATA002.pdf">ERRATA 002 (Referente ao Edital nº 02/2018/CEG/FDID)</a>
      <br>
      <a target="_self" href="assets/doc/EDITAL_01_2018_FDID_OSC.doc" download="EDITAL_01_2018_FDID_OSC.doc">Edital nº 01/2018 – Organizações da Sociedade Civil</a>
      <br>
      <a target="_self" href="assets/doc/EDITAL_02_2018_FDID_ENTIDADES_PUBLICAS.doc" download="EDITAL_02_2018_FDID_ENTIDADES_PUBLICAS.doc">Edital nº 02/2018 – Órgãos ou Entidades Públicas</a>
      <br>
      <a target="_self" href="assets/doc/Resolucao-n49.doc" download="Resolucao-n49.doc">Resolução nº 49/2017 – Tabela de hora atividade SEPLAG</a>
      <br>
      <a target="_self" href="assets/doc/RESOLUCAO_FDID_51_2018_VALORES.doc" download="RESOLUCAO_FDID_51_2018_VALORES.doc">Resolução nº 51/2018 – Valor máximo e contrapartida</a>
    </div>
  </div>

  <div class="row">

  </div>
</div>