<div class="container">
    <div class="row">
        <div class="input-field col s12 center">
          <p class="left login-form-text"> O Conselho Estadual Gestor do Fundo de Defesa dos Direitos Difusos - CEG/FDID torna público para conhecimento de todos
            os interessados que está recebendo inscrições para seleção de projetos.. Período de Inscrição: 16 de Junho de 2017
            a 30 de Junho de 2017. Quem pode se inscrever: Entidades Civís, Governamentais e cidadão em favorecimento de entidade
            governamental ou não-governamental. Os projetos poderão ser protocolados no Setor de Protocolo da PGJ( Rua Assunção,1100
            - José Bonifácio) ou enviados pelo site do MP. Instruções para inscrição on-line.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 center">
          <a target="_self" href="assets/doc/Edital2017Projetos.doc" download="Edital2017Projetos.doc">Edital 01/2017</a> -
          <a target="_self" href="assets/doc/Resolucao48.doc" download="Resolucao48.doc">Resolução 48/2017</a> -
          <a target="_self" href="assets/doc/Resolucao49.doc" download="Resolucao49.doc">Resolução 49/2017</a>
        </div>
      </div>
</div>

