<div class="container">
    <h5>Lista de projetos</h5>
    <p *ngIf="!allItems">
        <em>Loading...</em>
    </p>
    <p>
        <a  href="#/projeto" *ngIf="ativoprazo && !admin">Novo projeto</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>Projeto</th>
                <th>N° Processo</th>
                <th>Data de cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of pagedItems">
                <th>{{ emp.sTitulo }}</th>
                <th>{{ emp.sNoProcesso }}</th>
                <th>{{ emp.dDataCadastro | date: 'dd/MM/yyyy' }}</th>
                <th style="text-align: right;">
                    <a [routerLink]="['/projeto/edit/', emp.id]" title="Visualizar / Editar projeto">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="javascript:void(0);" (click)="delete(emp.id)" *ngIf="ativoprazo && !admin" title="Excluir projeto">
                        <i class="material-icons">delete</i>
                    </a>
                </th>
            </tr>

            <tr *ngIf="pagedItems == null">
                <td colspan="3">Não existe projeto cadastrado!</td>
            </tr>
        </tbody>
    </table>

    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">Primeiro</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Próximo</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Último</a>
            </li>
        </ul>
</div>