<div class="container">
    <h5>Lista de projetos</h5>
    <p *ngIf="!allItems">
        <em>Loading...</em>
    </p>
    <p>
        <a  href="#/projeto" *ngIf="ativoprazo && !admin">Novo projeto</a>
    </p>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th *ngIf="admin">Instituição</th>
                <th>Projeto</th>
                <th>N° Processo</th>
                <th>Data de cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of allItems">
                <th *ngIf="admin">{{ emp.instituicao.sProponente }}</th>
                <th>{{ emp.sTitulo }}</th>
                <th>{{ emp.sNoProcesso }}</th>
                <th>{{ emp.dDataCadastro | date: 'dd/MM/yyyy' }}</th>
                <th style="text-align: right;">
                    <a [routerLink]="['/projeto/edit/', emp.id]" title="Visualizar / Editar projeto">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="javascript:void(0);" (click)="delete(emp.id)" *ngIf="ativoprazo && !admin" title="Excluir projeto">
                        <i class="material-icons">delete</i>
                    </a>
                </th>
            </tr>
        </tbody>
    </table>  
</div>