<form [formGroup]="formChanger">

    <!-- {{diagnostic}}  -->

  <div class="row">
    <div class="input-field col s12 center">
      <h5>Mudança da senha.</h5>
    </div>
  </div>

  <div id="forgot-page" class="container">
    <div class="col s12 card-panel">
      <div class="row margin">
        <div class="input-field col s12">
          <input id="sCnpj" type="text" kzMask="99.999.999/9999-99" placeholder="Cnpj" formControlName="sCnpj" disabled>
          <label for="sCnpj" class="active">Cnpj</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="sSenha" type="password" formControlName="sSenha" class="validate">
          <label for="sSenha">Senha</label>
        </div>
        <div class="input-field col s6">
          <input id="sConfirmaSenha" type="password" formControlName="sConfirmaSenha" class="validate">
          <label for="sConfirmaSenha">Confirma Senha</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <button class="btn waves-effect waves-light col s12" [attr.disabled]="!formChanger.valid?'':null" (click)="changerPassword()">Salvar senha</button>
        </div>
      </div>
    </div>
  </div>
</form>